aws_region   = "us-east-1"
project      = "miplata"
environment  = "prod"
domain_name  = "miplata.skaspace.bid"
repo_url     = "https://github.com/ANGEL-GOMEZ/Miplata.git"
db_username  = "miplata"

# Generar con: openssl rand -hex 24
db_password  = "CAMBIAR-openssl-rand-hex-24"

# Generar con: openssl rand -hex 32
jwt_secret   = "CAMBIAR-openssl-rand-hex-32"

# Tu IP publica: https://ifconfig.me -> "x.x.x.x/32"  (NO dejar 0.0.0.0/0 en prod)
ssh_allowed_cidr = "0.0.0.0/0"
