aws_region   = "us-east-1"
project      = "miplata"
environment  = "prod"
domain_name  = "miplata.skaspace.bid"
repo_url     = "https://github.com/ANGEL-GOMEZ/Miplata.git"
db_username  = "miplata"
db_password  = "CAMBIAR-POR-PASSWORD-SEGURA"
jwt_secret   = "CAMBIAR-POR-SECRETO-LARGO"

# Restringe SSH a tu IP publica: https://ifconfig.me  ->  "x.x.x.x/32"
ssh_allowed_cidr = "0.0.0.0/0"
